@mixin flyAnimation($size: 50px, $delay: 0s, $duration: 25s, $left: 100px) {
  position: absolute;
  overflow: hidden;
  font-size: $size;
  animation: flying $duration linear infinite;
  animation-delay: $delay;
  left: $left;
}

.icons {
  position: fixed;
  width: 500px;
  height: 200px;
  right: 200px;
  bottom: -200px;
  background-color: gray;

  .angularjs {
    @include flyAnimation(140px, 0s, 12s, 80px);
  }

  .express {
    @include flyAnimation(130px, 1s, 12s, -200px);
  }

  .typescript {
    @include flyAnimation(110px, 2s, 12s, 350px);
  }

  .javascript {
    @include flyAnimation(100px, 3s, 12s, 200px);
  }

  .nodejs {
    @include flyAnimation(120px, 4s, 12s, 500px);
  }

  .react {
    @include flyAnimation(170px, 5s, 12s, 0px);
  }

  .sass {
    @include flyAnimation(130px, 6s, 12s, 380px);
  }

  .redux {
    @include flyAnimation(140px, 7s, 12s, -50px);
  }

  .yarn {
    @include flyAnimation(110px, 8s, 12s, 250px);
  }

  .npm {
    @include flyAnimation(120px, 9s, 12s, 450px);
  }

  .html5 {
    @include flyAnimation(100px, 10s, 12s, -150px);
  }
}

@keyframes flying {
  0% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1100px) rotate(72deg);
  }
}
