@import "styles/global.scss";

@keyframes greetingsAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes goingIn {
  0% {
    transition: all ease 1s;
  }

  100% {
    opacity: 1;
    position: relative;
  }
}

@mixin animateCharacters($numberOfChars: 1) {
  @for $i from 1 to $numberOfChars {
    .span:nth-child(#{$i}) {
      opacity: 0;
      animation: goingIn 1s ease calc(#{$i}s / 4) forwards;
      transition: all ease 0.2s;

      &:hover {
        transform: scale(1.3) rotate(-20deg) translateY(10px);
      }
    }
  }
}

.details {
  width: 60%;
  transition: all ease-in-out 0.2s;

  @include desktop {
    width: 80%;
  }

  @include LGtablet {
    width: 90%;
  }

  @include tablet {
    width: 100%;
  }

  @include phone {
    @include flex(column, center, center);
    width: 100%;
  }

  p,
  .name {
    transition: all ease 0.2s;
  }

  p:nth-child(1) {
    font-size: 4rem;
    font-weight: 700;
    color: $quaternary-color;
    transform: translateY(50px);

    @include desktop {
      font-size: 3rem;
    }

    @include LGtablet {
      font-size: 3rem;
    }

    @include tablet {
      text-align: center;
      font-size: 8vw;
    }

    @include phone {
      font-size: 8vw;
      transform: translateY(20px);
    }
  }

  .name {
    @include flex(row, flex-start, flex-start);
    user-select: none;
    width: 100%;
    font-size: 6rem;
    font-weight: bold;
    color: $primary-color;
    transform: translateY(10px);
    @include animateCharacters(15);

    @include desktop {
      font-size: 5rem;
      transform: translateY(15px);
    }

    @include LGtablet {
      font-size: 5rem;
      transform: translateY(15px);
    }

    @include tablet {
      font-size: 10vw;
      transform: translateY(25px);
      @include flex(row, center, center);
    }

    @include phone {
      font-size: 10vw;
      @include flex(row, center, center);
    }
  }

  p:nth-child(3) {
    font-size: 2rem;
    color: $quaternary-color;
    transition: all ease-in-out 0.2s;

    @include desktop {
      font-size: 1.5rem;
    }

    @include LGtablet {
      font-size: 1.5rem;
    }

    @include tablet {
      font-size: 3vw;
      margin-top: 20px;
      text-align: center;
    }

    @include phone {
      font-size: 5vw;
      text-align: center;
    }
  }
}
