@import "styles/global.scss";

.header {
  @include flex(row, flex-start, flex-start);
  position: relative;
  transition: all ease-in-out 0.2s;

  @include phone {
    @include flex(column);
  }

  img {
    background-color: $secondary-color;
    border-radius: 10px;
  }

  .btn-group {
    @include flex();
    position: absolute;
    top: 20px;
    right: 20px;

    @include phone {
      position: absolute;
      top: 85%;
      right: 20px;
      width: 60px;
      height: 60px;
    }

    .link {
      @include flex(row, center, center);
      border-radius: 100%;

      width: 60px;
      height: 60px;
      font-size: 40px;
      color: $quaternary-color;
      background-color: transparent;
      border: none;
      transition: all ease 0.2s;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }

  .content {
    @include flex(column, center);
    align-self: flex-end;
    padding: 30px 20px;

    p {
      color: $quaternary-color;
    }

    p:nth-child(2) {
      font-size: 1.25rem;
      font-weight: bold;

      @include phone {
        font-size: 1rem;
      }
    }

    p:nth-child(3) {
      font-style: italic;
    }
  }
}
