@import "styles/global.scss";

.content-container {
  padding: 60px;
  height: 100%;
  width: 100%;
  overflow: auto;


  @include tablet {
    padding: 20px;
  }
  @include phone {
    padding: 20px;
  }
}
