@import "styles/global.scss";

.soft {
  @include flex(column, flex-start, flex-start);
  flex: 1;
  padding: 20px;
  gap: 20px;

  h2 {
    font-size: 40px;
    color: $primary-color;
  }

  ul {
    @include flex(column, center, center);

    li {
      @include flex(row, center, center);
      gap: 20px;

      #icon {
        font-size: 50px;
        color: $quaternary-color;
        width: 15%;
      }

      p {
        font-size: 1.3rem;
        width: 85%;
        color: $quaternary-color;
      }
    }
  }
}
