@import "styles/global.scss";

.experiences {
  @include flex(row, flex-start, flex-start);
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px;
  @include LGtablet {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  @include phone {
    width: 100%;
  }

  a {
    @include flex(column, center, center);
    background-color: $tertiary-color;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    transition: all ease-out 0.2s;
    position: relative;

    @include LGtablet {
      width: 33%;
    }

    @include tablet {
      width: 48%;
    }

    @include phone {
      width: 100%;
      height: 200px;
    }

    &:hover {
      outline: 4px solid $primary-color;
    }

    img {
      object-fit: cover;
      border-radius: 10px;
      transition: all ease 0.2s;

      @include LGtablet {
        width: 100%;
        object-fit: contain;
        border-radius: 0px;
      }

      @include tablet {
        width: 100%;
        object-fit: contain;
        border-radius: 0px;
      }

      @include phone {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
      }

      &:hover {
        width: 100%;
        height: 100%;
      }
    }

    p {
      white-space: pre;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%);
      color: $secondary-color;
      font-size: 20px;
    }
  }
}
