@import "./global.scss";

.experience {
  @include flex(column);
  gap: 40px;
  height: 100%;

  h2,
  h3,
  p,
  a,
  li,
  address {
    @include flex(row, flex-start, center);
    gap: 5px;
  }

  .content {
    @include flex(row);
    width: 100%;
    gap: 30px;

    img {
      border-radius: 10px;
      background-color: $tertiary-color;
    }

    .details {
      @include flex(column);
      gap: 10px;
      height: 100%;
      color: $quaternary-color;
      position: relative;
    }
  }
}
