$primary-color: #00adb5;
$secondary-color: #222831;
$tertiary-color: #393e46;
$quaternary-color: #eeeeee;

$delete-color-1: rgba(255, 0, 0, .7);
$delete-color: rgba(255, 0, 0, .5);
$base-color: white;

$navigation-width-full-px: 120px;
$navigation-height-full-px: 75px;
$content-adjust-full-px: 120px;

$btn-60: 60px;
$btn-font-size-c: 30px;

$logo-size: 90px;
$link-icon-size: 55px;

$LGdesktop: 1920px;
$MDdesktop: 1600px;
$desktop: 1366px;
$LGtablet: 1150px;
$tablet: 768px;
$phone: 500px;

@mixin flex(
  $direction: row,
  $justify-content: flex-start,
  $align-items: flex-start
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin LGdesktop {
  @media (max-width: #{$LGdesktop}) and (min-width: #{$MDdesktop + 1}) {
    @content;
  }
}

@mixin MDdesktop {
  @media (max-width: #{$MDdesktop}) and (min-width: #{$desktop + 1}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) and (min-width: #{$LGtablet + 1}) {
    @content;
  }
}

@mixin LGtablet {
  @media (max-width: #{$LGtablet}) and (min-width: #{$tablet + 1}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) and (min-width: #{$phone + 1}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone}) and (min-width: #{$phone - 400}) {
    @content;
  }
}
