@import "./global.scss";

@keyframes greetingsAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes goingIn {
  0% {
    transition: all ease 1s;
  }

  100% {
    opacity: 1;
    position: relative;
  }
}

@mixin animateCharacters($numberOfChars: 1) {
  @for $i from 1 to $numberOfChars {
    .span:nth-child(#{$i}) {
      opacity: 0;
      animation: goingIn 1s ease calc(#{$i}s / 4) forwards;
      transition: all ease 0.2s;

      &:hover {
        transform: scale(1.3) rotate(-20deg) translateY(10px);
      }
    }
  }
}

#home {
  @include flex(row, flex-start, flex-start);
  height: 100%;
  width: 100%;

  section {
    height: 100%;
    z-index: 2;

    p {
      user-select: none;
    }

    p:nth-child(1) {
      font-size: 4rem;
      font-weight: 700;
      color: $quaternary-color;
      transform: translateY(50px);
    }

    .name {
      @include flex(row, flex-start, flex-start);
      user-select: none;
      width: 100%;
      font-size: 6rem;
      font-weight: bold;
      color: $primary-color;
      transform: translateY(10px);
      @include animateCharacters(15);
    }

    p:nth-child(3) {
      font-size: 2rem;
      color: $quaternary-color;
    }

    .btn-group {
      @include flex();
      gap: 10px;

      button:nth-child(1) {
        width: 400px;
        height: 65px;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 700;
        color: $secondary-color;
        background-color: $quaternary-color;

        &:hover {
          color: $quaternary-color;
          background-color: $primary-color;
          letter-spacing: 6px;
          border-color: $primary-color;
        }
      }

      button {
        @include flex(column, center, center);
        width: 65px;
        height: 65px;
        border-radius: 100%;
        transform: translateY(40px);
        border: 3px solid $quaternary-color;
        background-color: transparent;
        color: $quaternary-color;
        font-size: 25px;
        letter-spacing: 4px;
        cursor: pointer;
        transition: all ease-out 0.2s;
        font-weight: 500;

        &:hover {
          color: $secondary-color;
          background-color: $quaternary-color;
          letter-spacing: 6px;
        }
      }
    }

    img {
      height: 100%;
    }
  }

  section:nth-child(1) {
    @include flex(column, center, flex-start);
    flex: 3;
  }

  section:nth-child(2) {
    @include flex(column, flex-start, flex-start);
    flex: 2;
    padding-left: 100px;
  }
}
