@import "./global.scss";

.details {
  @include flex(column, center, center);
  gap: 20px;
  flex-wrap: wrap;

  ul {
    list-style-type: none;
  }

  section {
    width: 60%;
    background-color: $tertiary-color;
    padding: 30px;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;

    @include MDdesktop {
      width: 80%;
    }

    @include desktop {
      width: 100%;
    }

    @include LGtablet {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }

    @include phone {
      width: 100%;

      padding: 20px;
    }

    h1 {
      color: $primary-color;
      font-size: 3.5rem;
      transition: all ease-in-out 0.2s;


      @include phone {
        font-size: 2.5rem;
      }
    }

    h2 {
      font-size: 2.5rem;
      color: $quaternary-color;
      transition: all ease-in-out 0.2s;

      @include phone {
        font-size: 1.75rem;
      }
    }
  }
}
